div {
	padding: 0px;
}
.div {
	color: blue;
	font-size: 20px;
}
.Keyword {
	margin-bottom: 10px;
}
.Title {
	margin-bottom: 10px
}
.ContactsList {  
  cursor: pointer;
  width: 235px;
  display: flex;
}
.ContactsList:hover {
  background: #eee
}
.Title a {
  text-decoration: none;
  color: #000;
}
input {
  margin-bottom: 0;
  position: relative;
  top: -10px;
}
.DetailsView p {
  display: flex
}
.DetailsView p label {
  width: 90px;
  font-size:14px;
  font-weight: 600;
}
.DetailsView p span {  
  font-size:14px;
  font-weight: 200;
  color: #666
}